name: MLflow Training Workflow

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true


      - name: Install MLflow
        shell: bash -l {0}
        run: |
          pip install mlflow

      - name: Run MLflow Project (conda.yaml)
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow run . -P n_estimators=100

      - name: Archive MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-result
          path: MLProject/mlruns